div.extra {
    width: 10em;
}

div.rate {
    width: 6em;
}

button.delete {
    position: relative;
    background-color: gray !important;
    color: white;
}

button.edit {
    position: relative;
    background-color: gray !important;
    color: white;
}

tr {
    border-bottom-style: solid;
    border-width: thin;
}