<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top">
    <div fxLayout="column" style="width: 20em;">
        <mat-list>
            <mat-list-item *ngFor="let organization of organizations">
                <div class="organization">{{organization.name}}</div>
                <button class="edit" title="edit organization '{{organization.name}}'" (click)="edit(organization)"><i class="fa fa-edit"></i></button>
                <button class="delete" title="delete organization '{{organization.name}}'" (click)="delete(organization)"><i class="fa fa-trash"></i></button>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxLayout="column" style="width: 20em;">
        <button mat-button [disabled]="addNew" (click)="addNew = true">Add</button>
        <div *ngIf="addNew">
            <input #companyName matInput required placeholder="Enter Organization Name">
            <button mat-button (click)="addNew = false">Cancel</button>
            <button mat-button (click)="addNew = false; create(companyName.value);">Submit</button>
        </div>
    </div>
</div> -->

<ng-template #tableHeadersTemplate>
    <th>Organization</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Type</th>
</ng-template>
<ng-template #itemRowTemplate let-name="name" let-address="address" let-email="email" let-phone="phone" let-type="type">
    <td>
        <div class="organization">{{name}}</div>
    </td>
    <td>
        <div class="organization">{{address}}</div>
    </td>
    <td>
        <div class="organization">{{email}}</div>
    </td>
    <td>
        <div class="organization">{{phone}}</div>
    </td>
    <td>
        <div class="organization">{{type}}</div>
    </td>
</ng-template>
<ng-template #itemEditTemplate let-name="name" let-setName="setName" let-form="form">
    <app-organization-form *ngIf="form" [formGroup]="form"></app-organization-form>
</ng-template>
<app-configure-generic [tableHeadersTemplate]="tableHeadersTemplate" [itemRowTemplate]="itemRowTemplate" [itemEditTemplateRef]="itemEditTemplateRef" [configureComponent]="this"></app-configure-generic>
