<div>
    <mat-form-field appearance="outline">
        <mat-label>Organizations</mat-label>
        <mat-select multiple [value]="selectedOrganizations" (selectionChange)="selectOrganizations($event.value)">
            <mat-option *ngFor="let organization of organizations" [value]="organization">{{organization.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<app-global-calendar #calendar [bookingFilter]="bookingFilter" [width]="800" [height]="600" [readOnly]="true" [showViews]="['monthView', 'weekView', 'dayView']"></app-global-calendar>
<!-- <ul class="bookings">
    <li *ngFor="let booking of bookings">
        <a routerLink="/bookings/booking/{{booking.ref}}">
            <span class="badge">{{booking.ref}}</span>
            <div>{{booking.startDate | date : 'mediumDate'}} [ {{booking.startDate | date : 'shortTime'}} - {{booking.endDate | date : 'shortTime'}} ] (duration: {{duration(booking)}} hours)</div>
        </a>
    </li>
</ul> -->
