<div *ngIf="booking" class="booking">
    <h2>{{booking.ref | uppercase}} Details</h2>
    <div class="booking title">{{booking.title}}</div>
    <div class="booking details">{{booking.details}}</div>
    <div>Room :
            <a *ngIf="room; else unknown_room" routerLink="/rooms/room/{{room.name}}">
                <span class="badge">{{room.name}}</span>
            </a>
            <ng-template #unknown_room>
                <span class="error">!!! ERROR: no room found with id {{booking.roomId}} !!!</span>
            </ng-template>
    </div>
    <div>{{booking.date | date : 'mediumDate'}} [ {{booking.startTime | date : 'shortTime'}} - {{booking.endTime | date : 'shortTime'}} ] (duration: {{booking.duration}} hours)</div>
</div>
<div class="details_end">
    <button (click)='goBack()'>go back</button>
</div>
    