div.extra {
    width: 10em;
}

div.rate {
    width: 6em;
}

tr {
    border-bottom-style: solid;
    border-width: thin;
}

.tac {
    min-height: 48px;
    border: solid;
    border-width: thin;
    margin: 10px;
}
