<app-nav-bar></app-nav-bar>
<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/background.png'); background-size: cover">
    <div class="container">
        <div class="motto text-center">
            <h1>Room Booking Service</h1>
            <h3>We provide great meeting places and training facilities at great rates for great prices!.</h3>
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round">Book Now !</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
<span
  class="my-custom-scrolltop-element"
  ngxScrollTop
  [ngxScrollTopMode]="'smart'">
  Custom Element. (Directive and Smart mode) ↑
</span>
<ngx-scrolltop>
</ngx-scrolltop>