<div class="c-forms-form-main c-span-24 c-sml-span-12" style="column-count: 2;">
    <div class="c-section  c-col-1 c-sml-col-1 c-span-24 c-sml-span-12" style="break-inside: avoid;">
        <div class="c-title">
            <h3>Event Description</h3>
        </div>
        <div class="">
            <div class="c-text-singleline c-field  c-col-1 c-sml-col-1 c-span-12 c-sml-span-12">
                <div class="c-label  ">
                    <label id="c-0-235-label" for="c-0-235">Organization: <span class="c-offscreen c-required-screenreaders">required</span>
                        <span class="c-offscreen c-validation-screenreaders">,                            <span></span>
                        </span>
                    </label>
                </div>
                <div class="c-editor">
                    <input type="text" id="c-0-235" placeholder=""></div>
                <div class="c-validation" aria-hidden="true"></div>
            </div>
            <div class="c-text-singleline c-field  c-col-1 c-sml-col-1 c-span-12 c-sml-span-12">
                <div class="c-label  ">
                    <label id="c-1-234-label" for="c-1-234">Event Title: <span class="c-offscreen c-required-screenreaders">required</span>
                            <span class="c-offscreen c-validation-screenreaders">,                                <span></span>
                            </span>
                        </label>
                </div>
                <div class="c-editor">
                    <input type="text" id="c-1-234" placeholder=""></div>
                <div class="c-validation" aria-hidden="true"></div>
            </div>
            <div class="c-text-singleline c-field  c-col-1 c-sml-col-1 c-span-9 c-sml-span-12">
                <div class="c-label  ">
                    <label id="c-2-233-label" for="c-2-233">Event Details: <span class="c-offscreen c-required-screenreaders">required</span>
                                <span class="c-offscreen c-validation-screenreaders">,                                    <span></span>
                                </span>
                            </label>
                </div>
                <div class="c-editor">
                    <input type="text" id="c-2-233" placeholder=""></div>
                <div class="c-validation" aria-hidden="true"></div>
            </div>
            <fieldset class="c-choice-checkboxes c-field  c-col-10 c-sml-col-1 c-span-9 c-sml-span-12">
                <legend class="c-label  ">Choose Extras: <span class="c-offscreen c-required-screenreaders">required</span>
                    <span class="c-offscreen c-validation-screenreaders">,                                    <span></span>
                    </span>
                </legend>
                <div class="c-editor c-columns-1">
                    <div class="c-choice-option">
                        <label for="c-3-225">
                                        <input type="checkbox" name="group224" id="c-3-225">
                                            <span>Flipchart, Paper &amp; Pens</span>
                                        </label>
                    </div>
                    <div class="c-choice-option">
                        <label for="c-3-226">
                                            <input type="checkbox" name="group224" id="c-3-226">
                                                <span>Screen (only)</span>
                                            </label>
                    </div>
                    <div class="c-choice-option c-checked">
                        <label for="c-3-227">
                                                <input type="checkbox" name="group224" id="c-3-227" checked="checked">
                                                    <span>Projector &amp; Screen</span>
                                                </label>
                    </div>
                    <div class="c-choice-option c-checked">
                        <label for="c-3-228">
                                                    <input type="checkbox" name="group224" id="c-3-228" checked="checked">
                                                        <span>Refreshment</span>
                                                    </label>
                    </div>
                    <div class="c-choice-option">
                        <label for="c-3-229">
                                                        <input type="checkbox" name="group224" id="c-3-229">
                                                            <span>Urn &amp; Cups</span>
                                                        </label>
                    </div>
                    <div class="c-choice-option c-checked">
                        <label for="c-3-230">
                                                            <input type="checkbox" name="group224" id="c-3-230" checked="checked">
                                                                <span>Buffet Lunch</span>
                                                            </label>
                    </div>
                    <div class="c-choice-option">
                        <label for="c-3-231">
                                                                <input type="checkbox" name="group224" id="c-3-231">
                                                                    <span>Extra Platters</span>
                                                                </label>
                    </div>
                    <div class="c-choice-option c-choice-fillin">
                        <label for="c-3-232">
                                                                    <input type="checkbox" name="group224" id="c-3-232" class="c-fillin-checkradio" aria-label="Other">
                                                                        <div>
                                                                            <input type="text" name="group224" class="c-fillin-text" placeholder="Other"></div>
                                                                        </label>
                    </div>
                </div>
                <div class="c-validation" aria-hidden="true"></div>
            </fieldset>
            <fieldset class="c-choice-radiobuttons c-field  c-col-1 c-sml-col-1 c-span-24 c-sml-span-12">
                <legend class="c-label  ">Refreshment <span class="c-offscreen c-required-screenreaders">required</span>
                    <span class="c-offscreen c-validation-screenreaders">,                                                                        <span></span>
                    </span>
                </legend>
                <div class="c-editor c-columns-0">
                    <div class="c-choice-option">
                        <label for="c-4-222">
                                                                            <input type="radio" name="group221" id="c-4-222" checked="checked">
                                                                                <span>Full Day</span>
                                                                            </label>
                    </div>
                    <div class="c-choice-option">
                        <label for="c-4-223">
                                                                                <input type="radio" name="group221" id="c-4-223">
                                                                                    <span>Half Day</span>
                                                                                </label>
                    </div>
                </div>
                <div class="c-validation" aria-hidden="true"></div>
            </fieldset>
            <div class="c-number-integer c-field  c-col-1 c-sml-col-1 c-span-9 c-sml-span-12">
                <div class="c-label  ">
                    <label id="c-5-220-label" for="c-5-220">Quantity (nb of people attended): <span class="c-offscreen c-required-screenreaders">required</span>
                                                                                <span class="c-offscreen c-validation-screenreaders">,                                                                                    <span></span>
                                                                                </span>
                                                                            </label>
                </div>
                <div class="c-editor c-number-spinner">
                    <div class="c-number-spinner" data-allow-other="false">
                        <button type="button" class="c-icon-button c-number-decrease" tabindex="-1"></button>
                        <input type="text" id="c-0-220" class="c-number-value" style="width: 3em;" placeholder="" inputmode="">
                        <button type="button" class="c-icon-button c-number-increase" tabindex="-1"></button>
                    </div>
                </div>
                <div class="c-validation" aria-hidden="true"></div>
            </div>
        </div>
        <div class="c-validation" aria-hidden="true"></div>
    </div>
</div>