<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="nav-item nav-link" routerLink="/" *ngIf="currentUser"><img src='../assets/img/AVC_logo.png'></a>
        </div>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/rooms" *ngIf="currentUser">Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/bookings" *ngIf="isAuthorized.BOOKINGS()">Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/mybookings" *ngIf="isAuthorized.MYBOOKINGS()">My Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/configure" *ngIf="isAuthorized.CONFIGURE()">Configure</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/logout" *ngIf="currentUser">Logout</a>
            </li>
        </ul>
    </div>
</nav>
