<ng-template #tableHeadersTemplate>
    <th>Extra Service</th>
    <th>Rate</th>
</ng-template>
<ng-template #itemRowTemplate let-extra="extra" let-rate="defaultRate">
    <td>
        <div class="extra">{{extra}}</div>
    </td>
    <td>
        <div class="rate">{{rate | currency:'GBP':'symbol-narrow'}}</div>
    </td>
</ng-template>
<ng-template #itemEditTemplate let-extra="extra" let-defaultRate="defaultRate" let-setExtra="setExtra" let-setDefaultRate="setDefaultRate">
    <mat-form-field appearance="standard" required>
        <input #extraName matInput required placeholder="Enter extra Name" [value]="extra" (change)="setExtra($event.target.value)">
    </mat-form-field>
    <mat-form-field appearance="standard" required>
        <input #extraRate matInput required type="number" placeholder="Enter extra Rate" [value]="defaultRate" (change)="setDefaultRate($event.target.value)">
    </mat-form-field>
</ng-template>
<app-configure-generic [items]="items" [tableHeadersTemplate]="tableHeadersTemplate" [itemRowTemplate]="itemRowTemplate" [itemEditTemplate]="itemEditTemplate" [delete]="delete" [update]="update" [create]="create" [newItem]="newItem" [getEditedItem]="getEditedItem"
    [setEditedItem]="setEditedItem" [getItemEditContext]="getItemEditContext" [submitEnabled]="submitEnabled" [itemToString]="itemToString"></app-configure-generic>