<div class="fixed-background">
    <div class="container">
        <div class="text-center over-background">
            <h1><a class="nav-item nav-link" routerLink="/">Room Booking Service</a></h1>
            <h3>We provide great meeting places and training facilities at great rates for great prices!.</h3>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Let's talk about our rooms</h2>
                    <h5 class="description">We offer {{rooms.length}} different rooms, all located in our building ...</h5>
                    <br>
                    <a routerLink="/rooms" class="btn btn-danger btn-round">See Rooms</a>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel [interval]=120000>
                            <ng-template ngbSlide *ngFor="let room of rooms">
                                <div class="row">
                                    <app-room-card [room]="room"></app-room-card>
                                </div>
                                <!-- <div class="carousel-slide" [style.background-image]="getImage(room.img)">
                                    <div class="carousel-slide-content">
                                        <ng-content></ng-content>
                                    </div>
                                    <div class="carousel-caption">
                                        <p>{{room.name}}</p>
                                    </div>
                                    <div [style.background-color]='00000040'></div>
                                </div> -->
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let room of rooms">
                                <img src="{{room.img}}" alt="{{room.name}}">
                                <div class="carousel-caption">
                                    <p>{{room.name}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let room of rooms">
                                <img src="{{room.img}}" alt="{{room.name}}">
                                <div class="carousel-caption">
                                    <p>{{room.name}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let room of rooms">
                                <img src="{{room.img}}" alt="{{room.name}}">
                                <div class="carousel-caption">
                                    <p>{{room.name}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let room of rooms">
                                <img src="{{room.img}}" alt="{{room.name}}">
                                <div class="carousel-caption">
                                    <p>{{room.name}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let room of rooms">
                                <img src="{{room.img}}" alt="{{room.name}}">
                                <div class="carousel-caption">
                                    <p>{{room.name}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let room of rooms">
                                <img src="{{room.img}}" alt="{{room.name}}">
                                <div class="carousel-caption">
                                    <p>{{room.name}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let room of rooms">
                                <img src="{{room.img}}" alt="{{room.name}}">
                                <div class="carousel-caption">
                                    <p>{{room.name}}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Booking Indicators</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-chart">
                                <div class="card-header card-header-success">
                                    <app-bar-chart></app-bar-chart>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Monthly Bookings</h4>
                                    <p class="card-category">
                                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in bookings.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> updated 4 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-chart">
                                <div class="card-header card-header-warning">
                                    <app-bar-chart></app-bar-chart>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Email Subscriptions</h4>
                                    <p class="card-category">Last Campaign Performance</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> campaign sent 2 days ago
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-chart">
                                <div class="card-header card-header-danger">
                                    <app-bar-chart></app-bar-chart>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Completed Tasks</h4>
                                    <p class="card-category">Last Campaign Performance</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> campaign sent 2 days ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
