.carousel-slide {
    width: 100%;
    height: 25em;
    position: absolute;
    z-index: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: auto;
    }
    &-content {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: auto;
    }
}

.fixed-background {
    // padding-top: 160px;
    display: flex;
    justify-content: center;
    min-height: 32%;
    position: relative;
    overflow: hidden; //added for pseudo-element
    //fixed-position background image
    &::before {
        background-image: url('../../../assets/img/room-booking.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        background-position-y: -270px;
        content: '';
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50%;
        will-change: transform;
        z-index: -1;
    }
}

.over-background {
    background-color: white;
    opacity: 0.75;
    border-radius: 14px;
}
