<div class="fixed-background">
    <div class="container">
        <div class="text-center over-background">
            <h1>Room Booking Service</h1>
            <h3>{{website.serviceDescription}}</h3>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div *ngIf="website" [innerHTML]="website.presentationHTML"></div>
                    <br>
                    <a routerLink="/rooms" class="btn btn-danger btn-round">See Rooms</a>
                    <br>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel [interval]=120000>
                            <ng-template ngbSlide *ngFor="let room of rooms">
                                <div class="row">
                                    <app-room-card [room]="room"></app-room-card>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Booking Indicators</h2>
                    <div *ngIf="website" [innerHTML]="website.indicatorsHTML"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
