<form [formGroup]="firstFormGroup">
    <h4>Person making booking:</h4>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top">
        <div formGroupName="hirersDetails">
            <div fxFlex fxLayout="column" class="form-column">
                <mat-form-field>
                    <mat-label>Your First Name</mat-label>
                    <input matInput formControlName="firstName" placeholder="" readonly="{{readOnly}}" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Your Contact Email</mat-label>
                    <input matInput formControlName="email" placeholder="" readonly="{{readOnly}}" required>
                </mat-form-field>
            </div>
            <div fxFlex fxLayout="column" class="form-column">
                <mat-form-field>
                    <mat-label>Your Last Name</mat-label>
                    <input matInput formControlName="lastName" placeholder="" readonly="{{readOnly}}" required>
                </mat-form-field>
            </div>
        </div>
    </div>
    <h4>Person who will be on site responsible for booking:</h4>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top">
        <div formGroupName="responsibleDetails">
            <div fxFlex fxLayout="column" class="form-column">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" placeholder="" readonly="{{readOnly}}" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phone" placeholder="" readonly="{{readOnly}}" required>
                </mat-form-field>
            </div>
            <div fxFlex fxLayout="column" class="form-column">
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" placeholder="" readonly="{{readOnly}}" required>
                </mat-form-field>
            </div>
        </div>
    </div>
    <h4>Organization</h4>
    <div fxLayout='row' class="form-row">
        <div fxLayout='column' class="form-column">
        </div>
    </div>
    <mat-form-field [ngClass]="{'readonly-wrapper' : readOnly}">
        <mat-select #organization [ngClass]="{'readonly-block' : readOnly}" required placeholder="Select Organization" formControlName="organization" (valueChange)="onOrganizationSelectChange($event)">
            <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" *ngFor="let organization of data.organizations" [value]="organization">
                {{organization.name}}
            </mat-option>
            <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" [value]="newOrganization">
                {{newOrganization.name}}
            </mat-option>
        </mat-select>
        <div *ngIf="readOnly && firstFormGroup.controls['organization'].value">{{firstFormGroup.controls['organization'].value.name}}</div>
    </mat-form-field>
    <div *ngIf="organization.value !== newOrganization">Please check the organization details below:</div>
    <div *ngIf="organization.value === newOrganization">Please fill the organization details below:</div>
    <app-organization-form [formGroup]="firstFormGroup.controls['organizationDetails']" [readOnly]="organization.value !== newOrganization"></app-organization-form>
</form>
