<div *ngIf="room">
    <button mat-button class="close" (click)="bottomSheetRef.dismiss()">X</button>
    <div fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
        <div fxFlex>
            <h1 style="text-align: center;">{{room.name}}</h1>
        </div>
        <div fxFlex style="width: -webkit-fill-available;">
            <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="100%" proportion="30" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false">
                <mat-carousel-slide #matCarouselSlide *ngFor="let img of images" [image]="img" overlayColor="#00000040" [hideOverlay]="false">
                    <button mat-button tabindex="-1" class="zoom" (click)="magnify(img)">
                  <mat-icon>zoom_out_map</mat-icon>
                </button>
                    <!-- <button mat-button tabindex="-1" class="zoom" (click)="magnify(img)">Zoom Out</button> -->
                </mat-carousel-slide>
            </mat-carousel>
        </div>
        <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top" style="width: -webkit-fill-available;">

            <div fxFlex>
                <mat-card>
                    <mat-card-header>
                        <h3><i class="fa fa-home" aria-hidden="true"></i>Description</h3>
                    </mat-card-header>
                    <mat-card-content>
                        <div [innerHTML]="roomDescription"></div>
                    </mat-card-content>
                    <mat-card-footer>
                    </mat-card-footer>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <h3><i class="fa fa-info-circle" aria-hidden="true"></i>Specifications</h3>
                    </mat-card-header>
                    <mat-card-content style="width: 15em;">
                        <table>
                            <tr>
                                <td>
                                    <div class="specTitle">Rate:</div>
                                </td>
                                <td>
                                    <div class="specValue">{{room.rentRateHour | currency:'GBP':'symbol-narrow'}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="specTitle">Capacity:</div>
                                </td>
                                <td>
                                    <div class="specValue">{{room.capacity}}</div>
                                </td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <h3><i class="fa fa-coffee" aria-hidden="true"></i>Extra Features</h3>
                    </mat-card-header>
                    <mat-card-content style="padding: 2em;">
                        <div fxLayout="row wrap" fxLayoutGap="40px" fxLayoutAlign="flex-start">
                            <div *ngFor="let extra of getRoomExtras()" class="extra">{{extra.name}} ({{extra.defaultRate | currency:'GBP':'symbol-narrow'}})</div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="top">
                <!-- <mat-card>
                    <mat-card-content>
                        <div style="width: 10em;">

                        </div>
                    </mat-card-content>
                </mat-card> -->
                <mat-card>
                    <mat-card-header>
                        <h3><i class="fa fa-calendar" aria-hidden="true"></i> Availabilities</h3>
                    </mat-card-header>
                    <mat-card-content>
                        <app-room-calendar #calendar [room]="room" [displayDate]="_displayDate" [scaleStartHour]="8" [height]="350" [width]="380" [scaleEndHour]="19" [readOnly]="true" [showViews]="['weekView']"></app-room-calendar>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <!--
    <div><span>Next bookings:</span></div>
    <ul class="bookings">
        <li *ngFor="let booking of nextBookings">
            <a routerLink="/bookings/booking/{{booking.ref}}">
                <span class="badge">{{booking.ref}}</span>
                <div>{{booking.startDate | date : 'mediumDate'}} [ {{booking.startDate | date : 'shortTime'}} - {{booking.endDate | date : 'shortTime'}} ] (duration: {{duration(booking)}} hours)</div>
            </a>
        </li>
    </ul>
    <div><span>Past bookings:</span></div>
    <ul class="bookings">
        <li *ngFor="let booking of pastBookings">
            <a routerLink="/bookings/booking/{{booking.ref}}">
                <span class="badge">{{booking.ref}}</span>
                <div>{{booking.startDate | date : 'mediumDate'}} [ {{booking.startDate | date : 'shortTime'}} - {{booking.endDate | date : 'shortTime'}} ] (duration: {{duration(booking)}} hours)</div>
            </a>
        </li>
    </ul> -->
    <div [matTooltip]="bookingAllowed ? 'book now' : 'your account is not allowed to book yet. Please contact Ashford Volunteers Center staff'">
      <button class="doctor" mat-button mat-flat-button color="primary" (click)='bookNow()' style="height: 3em; width: 10em;" [disabled]="!bookingAllowed" >
       <i class="fa fa-calendar-check-o"></i> Book Now
      </button>
    </div>
</div>
<!-- <button (click)='bookNow()'>book now</button> -->
<!-- <button (click)='goBack()'>go back</button> -->