i {
    margin-right: 1em;
}

mat-card {
    box-shadow: none !important;
}

.border-on-tile {
    border: solid 1px #000;
}

.edit-button {
    position: relative;
    top: 0;
    left: 0;
}

.editable {
    display: block;
    overflow: visible;
}

.editable:hover {
    border: solid 1px #000;
}

.editable>.edit-button {
    display: none;
}

.editable:hover>.edit-button {
    display: block;
}

.carousel-slide {
    background-size: contain !important;
}

.close.mat-button {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    align-content: flex-end;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    z-index: 9999;
}

.zoom {
    position: relative !important;
    // top: 20;
    // right: 0 !important;
    // padding: 5px;
    // line-height: 14px;
    // min-width: auto;
    float: right;
    z-index: 0;
}

.doctor {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    // align-self: flex-end;
    // top: 0;
    // right: 0;
    // align-content: flex-end;
    float: right;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    z-index: 9999;
}
