<form [formGroup]="form" (ngSubmit)="submit(form)">
    <div *ngIf="form" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top">
        <div fxFlex fxLayout="column" class="form-column">
            <!-- <mat-form-field [ngClass]="{'readonly-wrapper' : readOnly}">
        <mat-select [ngClass]="{'readonly-block' : readOnly}" required placeholder="Select Organization" formControlName="organization">
            <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" *ngFor="let organization of data.organizations" [value]="organization">
                {{organization.name}}
            </mat-option>
        </mat-select>
        <div *ngIf="readOnly && form.controls['organization'].value">{{form.controls['organization'].value.name}}</div>
    </mat-form-field> -->
            <mat-form-field>
                <input matInput readonly="{{readOnly}}" required placeholder="Enter Event Title" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput readonly="{{readOnly}}" placeholder="Describe Event" formControlName="description"></textarea>
            </mat-form-field>
            <div fxLayout="row">
                <div>
                    <mat-form-field style="width: 10em;">
                        <input matInput type="number" min="1" max="{{selectedRoom ? selectedRoom.capacity : 30 }}" readonly="{{readOnly}}" placeholder="Expected number of delegates" formControlName="nbPeopleExpected">
                    </mat-form-field>
                </div>
                <div *ngIf="selectedRoom" class="smallLabel">(max room capacity: {{selectedRoom.capacity}})</div>
            </div>
            <mat-form-field [ngClass]="{'readonly-wrapper' : readOnly}">
                <mat-label>Extra Services</mat-label>
                <mat-select [ngClass]="{'readonly-block' : readOnly}" *ngIf="selectedRoom" formControlName="extras" multiple [(value)]="selectedExtras">
                    <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" *ngFor="let extraId of selectedRoom.availableExtras" [value]="extraId">{{getExtraFromId(extraId).name}} ({{getExtraFromId(extraId).defaultRate | currency:'GBP':'symbol-narrow'}}{{getExtraFromId(extraId).perPerson ? '/person' : ''}})</mat-option>
                </mat-select>
                <div *ngIf="readOnly && form" fxLayout="row">
                    <div *ngFor="let extraId of form.controls['extras'].value">{{getExtraFromId(extraId).name}},&nbsp;</div>
                </div>
            </mat-form-field>
            <div fxFlex fxLayout="column" style="margin: 1em;">
                <app-price-display #price [hourQuantity]="priceData.hourQuantity" [roomRatePerHour]="priceData.roomRatePerHour" [extras]="priceData.extras" [nbPeopleExpected]="form.controls['nbPeopleExpected'].value"></app-price-display>
                <div *ngIf="recurrent.checked">Price per occurrence ({{nbOccurrences}} occurrences planned)</div>
            </div>
        </div>
        <div fxFlex fxLayout="column" class="form-column">
            <!-- <div fxFlex fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top center"> -->
            <mat-form-field [ngClass]="{'readonly-wrapper' : readOnly}">
                <mat-select [ngClass]="{'readonly-block' : readOnly}" required placeholder="Select Room" [(value)]="selectedRoom" formControlName="room" [compareWith]="compareRooms">
                    <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" *ngFor="let room of data.rooms" [value]="room">
                        {{room.name}}
                    </mat-option>
                </mat-select>
                <div *ngIf="readOnly && form">{{form.controls['room'].value.name}}</div>
            </mat-form-field>
            <div>
                <mat-slide-toggle [disabled]="readOnly" #recurrent (change)="onchangeRecurrent($event.checked)" formControlName="isRecurrent">Recurrent</mat-slide-toggle>
                <div>{{recurrencePattern2String()}}</div>
                <div *ngIf="recurrent.checked && !readOnly">
                    <button (click)="editRecurrence()">Configure Recurrence</button>
                </div>
            </div>
            <mat-form-field *ngIf="!recurrent.checked">
                <input required readonly="readOnly" #dateInput matInput [min]="(readOnly) ? 0 : today" [matDatepicker]="picker" placeholder="Choose Date" formControlName="date" (dateInput)="onSelectedDateChanged()" (dateChange)="onSelectedDateChanged()" [matDatepickerFilter]="datePickerFilter"
                    [errorStateMatcher]="(readOnly) ? null : errorMatcher">
                <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="{{readOnly}}"></mat-datepicker>
                <mat-error *ngIf="form && !readOnly && form.hasError('dateInPast')">Start date/time can not be past</mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="top center">
                <div fxLayout="column" style="width: 10em;">
                    <!-- <label for="startTime">Starting Time: </label> -->
                    <app-time-picker [readOnly]="readOnly" #startTimePicker [required]="true" placeholder="Starting Time" [minTime]="minTime " [maxTime]="maxTime " [increment]="increment " [unavailableHours]="unavailableStartHours " (hourChange)="startTimeChanged($event) "></app-time-picker>
                </div>
                <div fxLayout="column" style="width: 10em;">
                    <!-- <label for="endTime ">Ending Time: </label> -->
                    <app-time-picker [readOnly]="readOnly" #endTimePicker [required]="true" placeholder="Ending Time" [minTime]="minTime" [maxTime]="maxTime + 1 " [increment]="increment " [unavailableHours]="unavailableEndHours " (hourChange)="endTimeChanged($event) "></app-time-picker>
                </div>
            </div>
            <!-- </div> -->
            <div [ngStyle.xs]="{'overflow-x': 'auto', 'white-space': 'nowrap', 'width': '20em'}">
                <app-room-calendar #calendar [bookingFilter]="bookingFilter" [room]="selectedRoom " [height]="350 " [width]="400 " [scaleStartHour]="minTime " [scaleEndHour]="maxTime-1 " [readOnly]="true " [previewReadOnly]="readOnly || recurrent.checked" [showViews]="[ 'weekView'] "
                    (selectionValidated)="OnCalendarPreviewUpdated($event)" (previewUpdated)="OnCalendarPreviewUpdated($event) "></app-room-calendar>
            </div>
        </div>

    </div>
</form>
