<div fxFlex fxLayout="column" fxLayoutWrap fxLayoutAlign="top">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="name">Service Description</div>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" required class="serviceDescription" *ngIf="editable && edited">
                <h3><input matInput required placeholder="Enter Room Booking Service Description" [(ngModel)]="edited.serviceDescription"></h3>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="name">Presentation</div>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="!editable && edited" [innerHTML]="edited.presentationHTML"></div>
            <div *ngIf="editable && edited">
                <angular-editor [placeholder]="'Write and shape text here...'" [config]="editorConfig" [(ngModel)]="edited.presentationHTML"></angular-editor>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="name">Indicators</div>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="!editable && edited" [innerHTML]="edited.indicatorsHTML"></div>
            <div *ngIf="editable && edited">
                <angular-editor [placeholder]="'Write and shape text here...'" [config]="editorConfig" [(ngModel)]="edited.indicatorsHTML"></angular-editor>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="name">Background Picture</div>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxFlex fxLayout="column" fxLayoutAlign="top">
                <img *ngIf="edited" src="{{getImageUrlFromId(edited.backgroundPicture) | async}}">
                <div *ngIf="editable">
                    <app-material-file-upload [ddarea]="true" (fileUpload)="uploadFile($event)" (complete)="onBackgroundImageUploaded($event)"></app-material-file-upload>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="name">Slideshow Pictures</div>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="edited" fxFlex fxLayout="column" fxLayoutAlign="top">
                <div *ngFor="let picture of edited.pictures" class="picture">
                    <img src="{{getImageUrlFromId(picture) | async}}">
                    <button class="btn btn-delete-image" *ngIf="editable" mat-raised-button color="primary" title="delete image" (click)="onDeleteImage(picture)"><i class="fa fa-trash"></i>Delete</button>
                </div>
                <div *ngIf="editable">
                    <app-material-file-upload [ddarea]="true" (fileUpload)="uploadFile($event)" (complete)="onImageUploaded($event)"></app-material-file-upload>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div fxFlex>
        <button [disabled]="!isModified()" mat-raised-button color="primary" title="submit changes" (click)="onClickSubmit()">Submit</button>
        <button [disabled]="!isModified()" mat-raised-button color="primary" title="cancel changes" (click)="onClickCancel()">Cancel</button>
    </div>
</div>
