<!-- <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Organizations
            </mat-panel-title>
            <mat-panel-description>
                Organizations that may book a room
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-configure-organizations></app-configure-organizations>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Rooms
            </mat-panel-title>
            <mat-panel-description>
                Rooms that are proposed for renting
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-configure-rooms></app-configure-rooms>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Extra Services
            </mat-panel-title>
            <mat-panel-description>
                Configure extra services offering
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-configure-extras></app-configure-extras>
    </mat-expansion-panel>
</mat-accordion> -->
<mat-tab-group dynamicHeight>
    <mat-tab label="Organizations">
        <div class="mat-elevation-z4">
            <app-configure-organizations></app-configure-organizations>
        </div>
    </mat-tab>
    <mat-tab label="Extra Services">
        <div class="mat-elevation-z4">
            <app-configure-extras></app-configure-extras>
        </div>
    </mat-tab>
    <mat-tab label="Rooms">
        <div class="mat-elevation-z4">
            <app-configure-rooms></app-configure-rooms>
        </div>
    </mat-tab>
    <mat-tab label="Bookings">
        <div class="mat-elevation-z4">
        </div>
    </mat-tab>

</mat-tab-group>