<!-- <ul class="rooms">
    <li *ngFor="let room of rooms">
        <div class="row">
<app-room-card [room]="room"></app-room-card>
</div>
</li>
</ul> -->
<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
    <!-- <mat-sidenav-container fxFlex>
        <mat-sidenav mode="side" position="start" opened class="mat-elevation-z6" #sidenav> -->
    <!-- adding some tabs for the details -->
    <!-- <mat-tab-group>
                <mat-tab label="About">
                    <app-room-detail [room]="selectedRoom"></app-room-detail>
                </mat-tab>
                <mat-tab label="Messages"></mat-tab>
                <mat-tab label="Photos"></mat-tab>
            </mat-tab-group>
        </mat-sidenav> -->

    <mat-grid-list cols="3" rowHeight="250px">
        <mat-grid-tile *ngFor="let room of rooms">
            <img src="{{getImage(room) | async}}" alt="room {{room.name}}">
            <mat-grid-tile-footer (click)="showDetails(room)" style="cursor: pointer;" matTooltip='Click to get room details'>
                <h2 mat-line>{{room.name}}</h2>
                <span mat-line>(Max Capacity: {{room.capacity}} people)</span>
                <button mat-icon-button>
                      <mat-icon>info</mat-icon>
                  </button>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- </mat-sidenav-container> -->
</section>
