mat-sidenav {
    width: 40vw; // emmet w40vw
}

// some basic resets
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.app {
    height: 75vh; // emmet h100vh
}

img {
    max-width: 100%;
    max-height: 100%;
}
