<form [formGroup]="form" (ngSubmit)="submit(form)">
    <mat-dialog-content>
        <div fxLayout="row" style="height: 20em;">
            <div style="width: 20em;">
                <div>Periodicity Scheme:
                    <mat-radio-group required #frequency aria-label="Select an option" [value]="selectedFrequency" formControlName="frequency" (change)="selectedFrequency = $event.value" fxLayout="column">
                        <mat-radio-button fxFlex value="Daily">Daily</mat-radio-button>
                        <mat-radio-button fxFlex value="Weekly">Weekly</mat-radio-button>
                        <mat-radio-button fxFlex value="Monthly">Monthly</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    Until:
                    <mat-form-field style="width: 18em;">
                        <input required #dateInput matInput [min]="today" [matDatepicker]="picker" placeholder="Choose End Date" formControlName="endDate" [errorStateMatcher]="errorMatcher">
                        <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="form && form.hasError('dateInPast')">Start date/time can not be past</mat-error>
                    </mat-form-field>

                </div>
                <diV *ngIf="form && form.valid">
                    {{recurrencePattern2String()}}
                </diV>
            </div>
            <div fxLayout="column" style="width: 30em;" *ngIf="selectedFrequency !== ''">
                <div fxLayout="row" class="recur-row">
                    <div>Recur every</div>
                    <input class="input-number" #recurrence type="number" value="1" min="1" max="30" formControlName="recurrence">
                    <div *ngIf="selectedFrequency === 'Daily'">day(s)</div>
                    <div *ngIf="selectedFrequency === 'Weekly'">week(s) on:</div>
                    <div *ngIf="selectedFrequency === 'Monthly'">month(s) on:</div>
                </div>
                <div fxLayout="column">
                    <div *ngIf="selectedFrequency === 'Weekly'">
                        <div *ngFor="let day of days; let idx = index">
                            <mat-checkbox [checked]="isDayChecked(day.value)" (change)="checkDay(day.value, $event.checked)">{{day.day}}</mat-checkbox>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedFrequency === 'Monthly'">
                    <mat-radio-group fxLayout="column" [value]="monthlyMode" (change)="onDayModeChange($event)">
                        <mat-radio-button fxFlex #dayMode [checked]="monthlyMode === 'day'" value="day">
                            <div fxLayout="row" class="radio-button">
                                <div>Day</div>
                                <input class="input-number" type="number" min="1" max="31" formControlName="dayInMonth" (change)="onDayChange($event)">
                                <div>of every {{recurrence.value}} month(s)</div>
                            </div>
                        </mat-radio-button>
                        <mat-radio-button fxFlex [checked]="monthlyMode === 'week'" value="week">
                            <div fxLayout="row" class="radio-button">
                                <div>The</div>
                                <mat-form-field class="combo-weekInMonth">
                                    <mat-select formControlName="weekInMonth" (selectionChange)="selectWeekInMonth($event)">
                                        <mat-option *ngFor="let option of weeks; let val = index" value="{{val + 1}}">{{option}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="combo-dayInWeek">
                                    <mat-select formControlName="weekDayInMonth" (selectionChange)="selectDayInMonth($event)">
                                        <mat-option *ngFor="let day of days" value="{{day.day}}">{{day.day}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div>of every {{recurrence.value}} month(s)</div>
                            </div>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!form || !form.valid" mat-dialog-close>Apply</button>
        <button mat-button type="button" [mat-dialog-close]="false">Cancel</button>
    </mat-dialog-actions>
</form>