<form [formGroup]="thirdFormGroup">
    <h3>Please Draw Your Signature</h3>
    <button (click)="sign()" *ngIf="!isSigned">Sign</button>
    <img *ngIf="form.controls['signatureURL'].value" src="{{form.controls['signatureURL'].value}}" height="250">
    <button (click)="sign()" *ngIf="isSigned">Redraw Signature</button>
    <h3>Please read and accept the <a href="{{tacLink}}" target="_blank" class="tacLink"> Ashford Volunteers Center Room Booking Terms of Service</a> </h3>
    <mat-checkbox disabled="{{readOnly}}" class="example-margin" formControlName="tacChecked">I agree to the </mat-checkbox><a href="{{tacLink}}" target="_blank" class="tacLink"> Ashford Volunteers Center Room Booking Terms of Service</a>
</form>