<div class="card">
    <div class="produit conteneur">
        <div class="produit_infos wow" style="visibility: visible;">
            <div>
                <img class="card_img" src='{{image}}' />
            </div>
            <div class="produit_resume">
                <h2 class="produit_designation"><a routerLink="/rooms/room/{{room.name}}" data-cy="room-link">{{room.name}}</a></h2>
                <div>
                    <p><span style="font-size:16px;">Spacious and comfortable, the classic rooms of the Hotel Juana are the right start to a chic and uptown stay on the Riviera.&nbsp;</span></p>
                    <p><span style="font-size:16px;">All the rooms are designed in a modern Art Deco style, with periwinkle blue or strawberry fuchsia tones, and offer a bathroom with a shower and a separate bath-tub.</span></p>
                </div>
            </div>
            <p class="produit_lien"><a routerLink="/rooms/room/{{room.name}}">Discover</a>
            </p>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
