<div>
    <div>
        <div class="produit_infos wow" style="visibility: visible;">
            <table>
                <tr>
                    <th style="width:10em;"></th>
                    <th style="width:15em;"></th>
                </tr>
                <tr>
                    <td>
                        <section class="card__image" [style.backgroundImage]="image"></section>
                        <header>title</header>
                        <main>description</main>
                        <!-- <img class="card_img" src='{{image}}' style="height:10em;" /> -->
                        <!-- <div style="background-image:image;"></div> -->
                    </td>
                    <td>
                        <h2 class="produit_designation"><a routerLink="/rooms/room/{{room.name}}" data-cy="room-link">{{room.name}}</a></h2>
                        <table>
                            <tr>
                                <td>
                                    <div class="specTitle">Rate:</div>
                                </td>
                                <td>
                                    <div class="specValue">{{room.getRentRateHour('default') | currency:'GBP':'symbol-narrow'}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="specTitle">Capacity:</div>
                                </td>
                                <td>
                                    <div class="specValue">{{room.capacity}}</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- <div>
            </div>
            <div class="produit_resume">
                <tr>
                    <td>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <div class="specTitle">Rate:</div>
                                </td>
                                <td>
                                    <div class="specValue">{{room.rentRateHour | currency:'GBP':'symbol-narrow'}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="specTitle">Capacity:</div>
                                </td>
                                <td>
                                    <div class="specValue">{{room.capacity}}</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </div> -->
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
