<!-- <div>
    <tr *ngFor="let item of items">
        <td>
            <ng-container *ngTemplateOutlet="myItemTemplate;context:item"></ng-container>
        </td>
        <td>
            <button class="edit" title="edit extra"><i class="fa fa-edit"></i></button>
        </td>
        <td>
            <button class="delete" title="delete extra"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
</div> -->

<div *ngIf="!configureComponent">
    <h2>[ERROR]: No component configure defined !</h2>
</div>
<div *ngIf="configureComponent" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top">
    <table *ngIf="listStyle === 'table' && itemRowTemplate" style="width: {{tableWidth}}em;">
        <tr *ngIf="tableHeadersTemplate">
            <ng-container *ngTemplateOutlet="tableHeadersTemplate"></ng-container>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let item of configureComponent.items">
            <ng-container *ngTemplateOutlet="itemRowTemplate;context:item.context()"></ng-container>
            <td style="vertical-align: top;">
                <button class="edit" title="edit '{{configureComponent.itemToString(item)}}'" (click)="onClickEdit(item)"><i class="fa fa-edit"></i></button>
            </td>
            <td style="vertical-align: top;">
                <button class="delete" title="delete '{{configureComponent.itemToString(item)}}'" (click)="onClickDelete(item)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </table>
    <!-- <mat-accordion *ngIf="listStyle === 'accordion'">
        <div fxLayout="column" *ngFor="let item of items">
            <ng-container *ngTemplateOutlet="itemPanelTemplate;context:item"></ng-container>
            <div fxLayout="row">
                <button class="edit" title="edit '{{itemToString(item)}}'" (click)="onClickEdit()"><i class="fa fa-edit"></i></button>
                <button class="delete" title="delete '{{itemToString(item)}}'" (click)="onClickDelete(item)"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </mat-accordion> -->
    <div fxLayout="column" style="width: 20em;">
        <button mat-button [disabled]="editItem" (click)="onClickAdd()">Add</button>
        <div *ngIf="editItem && itemEditTemplate">
            <ng-container *ngTemplateOutlet="itemEditTemplate;context:configureComponent.editedItem.context()"></ng-container>
            <div>
                <button mat-button (click)="onClickCancel()">Cancel</button>
                <button #submit [disabled]="!configureComponent.submitEnabled" mat-button (click)="onClickSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>