button.delete {
    position: relative;
    background-color: gray !important;
    color: white;
}

button.edit {
    position: relative;
    background-color: gray !important;
    color: white;
}

tr {
    border-bottom-style: solid;
    border-width: thin;
}