<form [formGroup]="globalForm" (ngSubmit)="submit(globalForm)">
    <button class="close" mat-button [mat-dialog-close]="false">X</button>
    <h1 mat-dialog-title>Booking Form</h1>
    <mat-horizontal-stepper [linear]="!readOnly" #stepper>
        <!-- <mat-horizontal-stepper [linear]="false" #stepper> -->
        <mat-step [stepControl]="formStepOne.form">
            <ng-template matStepLabel>Hirer's Details</ng-template>
            <mat-dialog-content class="mat-typography, form-booking">
                <app-booking-dialog-step-one #formStepOne [readOnly]="readOnly"></app-booking-dialog-step-one>
            </mat-dialog-content>
        </mat-step>
        <mat-step [stepControl]="formStepTwo.form">
            <ng-template matStepLabel>Booking Details</ng-template>
            <mat-dialog-content class="mat-typography">
                <app-booking-dialog-step-two #formStepTwo [readOnly]="readOnly" [isCharity]="formStepOne.isCharity"></app-booking-dialog-step-two>
            </mat-dialog-content>
        </mat-step>
        <mat-step [stepControl]="formStepThree.form">
            <ng-template matStepLabel>Sign & Verify</ng-template>
            <mat-dialog-content class="mat-typography">
                <app-booking-dialog-step-three #formStepThree [readOnly]="readOnly"></app-booking-dialog-step-three>
            </mat-dialog-content>
        </mat-step>
        <!-- <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
            </div>
        </mat-step> -->
    </mat-horizontal-stepper>

    <mat-dialog-actions>
        <button mat-button type="button" *ngIf="stepper && stepper.selectedIndex > 0" (click)="stepper.previous()">Back</button>
        <button mat-button type="button" *ngIf="stepper && stepper.steps && stepper.selectedIndex < stepper.steps.length - 1" [disabled]="!stepper || !stepper.selected || !stepper.selected.stepControl || !stepper.selected.stepControl.valid" (click)="stepper.next()">Next</button>
        <button *ngIf="newBooking || !readOnly" mat-button type="submit" [disabled]="!isValid() || readOnly" mat-dialog-close>Submit</button>
        <button *ngIf="canModify && !newBooking && readOnly" mat-button type="button" (click)="readOnly = false;">Modify</button>
        <button *ngIf="canModify && !newBooking && !readOnly" mat-button type="button" (click)="cancelEvent()">Cancel Event</button>
        <button *ngIf="canDelete && !newBooking && !readOnly" mat-button type="button" (click)="deleteEvent()">Delete Event</button>
        <button mat-button type="button" [mat-dialog-close]="false">Close</button>
        <!-- <button *ngIf="!newBooking && !readOnly" mat-button type="button" [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
        </mat-menu> -->
        <!-- <button (click)="generateBookingForm()">Generate Booking Form</button> -->
    </mat-dialog-actions>
</form>