.close.mat-button {
    position: relative;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    z-index: 0;
}

.readonly-wrapper {
    cursor: not-allowed;
    pointer-events: none;
}

.readonly-block {
    visibility: hidden;
}
