<form [formGroup]="globalForm" (ngSubmit)="submit(globalForm)">
    <button class="close" mat-button [mat-dialog-close]="false">X</button>
    <h1 mat-dialog-title>Booking Form</h1>
    <mat-horizontal-stepper [linear]="!readOnly" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Hirer's Details</ng-template>
                <h5>Person making booking:</h5>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top">
                    <div formGroupName="hirersDetails">
                        <div fxFlex fxLayout="column" style="width: 20em;">
                            <mat-form-field>
                                <mat-label>Your First Name</mat-label>
                                <input matInput formControlName="firstName" placeholder="" readonly="{{readOnly}}" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Your Contact Email</mat-label>
                                <input matInput formControlName="email" placeholder="" readonly="{{readOnly}}" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex fxLayout="column" style="width: 20em;">
                            <mat-form-field>
                                <mat-label>Your Last Name</mat-label>
                                <input matInput formControlName="lastName" placeholder="" readonly="{{readOnly}}" required>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <h5>Person who will be on site responsible for booking:</h5>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top">
                    <div formGroupName="responsibleDetails">
                        <div fxFlex fxLayout="column" style="width: 20em;">
                            <mat-form-field>
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="firstName" placeholder="" readonly="{{readOnly}}" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Phone Number</mat-label>
                                <input matInput formControlName="phone" placeholder="" readonly="{{readOnly}}" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex fxLayout="column" style="width: 20em;">
                            <mat-form-field>
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName" placeholder="" readonly="{{readOnly}}" required>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <h5>Organization</h5>
                <div fxLayout='row' class="row">
                    <div fxLayout='column' class="column">
                    </div>
                </div>
                <mat-form-field [ngClass]="{'readonly-wrapper' : readOnly}">
                    <mat-select #organization [ngClass]="{'readonly-block' : readOnly}" required placeholder="Select Organization" formControlName="organization" (valueChange)="onOrganizationSelectChange($event)">
                        <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" *ngFor="let organization of data.organizations" [value]="organization">
                            {{organization.name}}
                        </mat-option>
                        <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" [value]="newOrganization">
                            {{newOrganization.name}}
                        </mat-option>
                    </mat-select>
                    <div *ngIf="readOnly && firstFormGroup.controls['organization'].value">{{firstFormGroup.controls['organization'].value.name}}</div>
                </mat-form-field>
                <div *ngIf="organization.value !== newOrganization">Please check the organization details below:</div>
                <div *ngIf="organization.value === newOrganization">Please fill the organization details below:</div>
                <app-organization-form [formGroup]="firstFormGroup.controls['organizationDetails']" [readOnly]="organization.value !== newOrganization"></app-organization-form>
                <div>
                    <button mat-button matStepperNext [disabled]="!firstFormGroup || !firstFormGroup.valid">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="form">
            <form [formGroup]="form">
                <ng-template matStepLabel>Booking Details</ng-template>
                <div *ngIf="form" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top">
                    <div fxFlex fxLayout="column" style="width: 20em;">
                        <!-- <mat-form-field [ngClass]="{'readonly-wrapper' : readOnly}">
                          <mat-select [ngClass]="{'readonly-block' : readOnly}" required placeholder="Select Organization" formControlName="organization">
                              <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" *ngFor="let organization of data.organizations" [value]="organization">
                                  {{organization.name}}
                              </mat-option>
                          </mat-select>
                          <div *ngIf="readOnly && form.controls['organization'].value">{{form.controls['organization'].value.name}}</div>
                      </mat-form-field> -->
                        <mat-form-field>
                            <input matInput readonly="{{readOnly}}" required placeholder="Enter Event Title" formControlName="title">
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput readonly="{{readOnly}}" placeholder="Describe Event" formControlName="description"></textarea>
                        </mat-form-field>
                        <div fxLayout="row">
                            <div>
                                <mat-form-field style="width: 10em;">
                                    <input matInput type="number" min="1" max="{{selectedRoom ? selectedRoom.capacity : 30 }}" readonly="{{readOnly}}" placeholder="Expected number of delegates" formControlName="nbPeopleExpected">
                                </mat-form-field>
                            </div>
                            <div *ngIf="selectedRoom" class="smallLabel">(max room capacity: {{selectedRoom.capacity}})</div>
                        </div>
                        <mat-form-field [ngClass]="{'readonly-wrapper' : readOnly}">
                            <mat-label>Extra Services</mat-label>
                            <mat-select [ngClass]="{'readonly-block' : readOnly}" *ngIf="selectedRoom" formControlName="extras" multiple [(value)]="selectedExtras">
                                <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" *ngFor="let extraId of selectedRoom.availableExtras" [value]="extraId">{{getExtraFromId(extraId).name}} ({{getExtraFromId(extraId).defaultRate | currency:'GBP':'symbol-narrow'}}{{getExtraFromId(extraId).perPerson ? '/person' : ''}})</mat-option>
                            </mat-select>
                            <div *ngIf="readOnly && form" fxLayout="row">
                                <div *ngFor="let extraId of form.controls['extras'].value">{{getExtraFromId(extraId).name}},&nbsp;</div>
                            </div>
                        </mat-form-field>
                        <div fxFlex fxLayout="column" style="margin: 1em;">
                            <app-price-display #price [hourQuantity]="priceData.hourQuantity" [roomRatePerHour]="priceData.roomRatePerHour" [extras]="priceData.extras" [nbPeopleExpected]="form.controls['nbPeopleExpected'].value"></app-price-display>
                        </div>
                    </div>
                    <div fxFlex fxLayout="column" style="margin: 1em;">
                        <div fxFlex fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top center">
                            <mat-form-field style="width: 18em;" [ngClass]="{'readonly-wrapper' : readOnly}">
                                <mat-select [ngClass]="{'readonly-block' : readOnly}" required placeholder="Select Room" [(value)]="selectedRoom" formControlName="room" [compareWith]="compareRooms">
                                    <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" *ngFor="let room of data.rooms" [value]="room">
                                        {{room.name}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="readOnly && form">{{form.controls['room'].value.name}}</div>
                            </mat-form-field>
                            <mat-form-field style="width: 18em;">
                                <input required readonly="readOnly" #dateInput matInput [min]="(readOnly) ? 0 : today" [matDatepicker]="picker" placeholder="Choose Date" formControlName="date" (dateInput)="onSelectedDateChanged()" (dateChange)="onSelectedDateChanged()" [matDatepickerFilter]="datePickerFilter"
                                    [errorStateMatcher]="(readOnly) ? null : errorMatcher">
                                <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                                <mat-datepicker #picker disabled="{{readOnly}}"></mat-datepicker>
                                <mat-error *ngIf="form && !readOnly && form.hasError('dateInPast')">Start date/time can not be past</mat-error>
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="top center">
                                <div fxLayout="column" style="width: 10em;">
                                    <!-- <label for="startTime">Starting Time: </label> -->
                                    <app-time-picker [readOnly]="readOnly" #startTimePicker [required]="true" placeholder="Starting Time" [minTime]="minTime " [maxTime]="maxTime " [increment]="increment " [unavailableHours]="unavailableStartHours " (hourChange)="startTimeChanged($event) "></app-time-picker>
                                </div>
                                <div fxLayout="column" style="width: 10em;">
                                    <!-- <label for="endTime ">Ending Time: </label> -->
                                    <app-time-picker [readOnly]="readOnly" #endTimePicker [required]="true" placeholder="Ending Time" [minTime]="minTime" [maxTime]="maxTime + 1 " [increment]="increment " [unavailableHours]="unavailableEndHours " (hourChange)="endTimeChanged($event) "></app-time-picker>
                                </div>
                            </div>
                        </div>
                        <div [ngStyle.xs]="{'overflow-x': 'auto', 'white-space': 'nowrap', 'width': '20em'}">
                            <app-room-calendar #calendar [bookingFilter]="bookingFilter" [room]="selectedRoom " [height]="350 " [width]="400 " [scaleStartHour]="minTime " [scaleEndHour]="maxTime-1 " [readOnly]="true " [previewReadOnly]="readOnly" [showViews]="[ 'weekView'] " (selectionValidated)="OnCalendarPreviewUpdated($event)"
                                (previewUpdated)="OnCalendarPreviewUpdated($event) "></app-room-calendar>
                        </div>
                    </div>

                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext *ngIf="!readOnly" [disabled]="!form || !form.valid">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step *ngIf="!readOnly" [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Sign & Verify</ng-template>
                <h5>Please read and accept the <a href="{{tacLink}}" target="_blank" class="tacLink"> Ashford Volunteers Center Room Booking Terms of Service</a> </h5>
                <mat-checkbox disabled="{{readOnly}}" class="example-margin" formControlName="tacChecked">I agree to the </mat-checkbox><a href="{{tacLink}}" target="_blank" class="tacLink"> Ashford Volunteers Center Room Booking Terms of Service</a>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </form>
        </mat-step>
        <!-- <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
            </div>
        </mat-step> -->
    </mat-horizontal-stepper>
    <mat-dialog-content>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button *ngIf="newBooking || !readOnly" mat-button type="submit" [disabled]="!globalForm || !globalForm.valid || readOnly" mat-dialog-close>Submit</button>
        <button *ngIf="canModify && !newBooking && readOnly" mat-button type="button" (click)="readOnly = false;">Modify</button>
        <button *ngIf="canModify && !newBooking && !readOnly" mat-button type="button" (click)="deleteEvent()">Delete Event</button>
        <button mat-button type="button" [mat-dialog-close]="false">Cancel</button>
        <!-- <button *ngIf="!newBooking && !readOnly" mat-button type="button" [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
        </mat-menu> -->
    </mat-dialog-actions>
</form>
