/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap-css-only/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';
// @import '~highlight.js/styles/github.css';
@import '~flatpickr/dist/flatpickr.css';
// @import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import 'angular-calendar/css/angular-calendar.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~jqwidgets-scripts/jqwidgets/styles/jqx.base.css';
@import '~jqwidgets-scripts/jqwidgets/styles/jqx.material.css';
@import '~jqwidgets-scripts/jqwidgets/styles/jqx.metro.css';
@import '~jqwidgets-scripts/jqwidgets/styles/jqx.ui-smoothness.css';
@import '~jqwidgets-scripts/jqwidgets/styles/jqx.android.css';
// override
.page-header {
    min-height: 30vh !important; // overridden
}

.footer {
    background: rgb(48, 52, 103) !important; // overridden
    font-family: Open Sans !important; // overridden
    font-size: 70% !important; // overridden
    color: rgb(241, 241, 241) !important; // overridden
    font-weight: 100 !important; // overridden
    line-height: 20px !important; // overridden
    border-top: 2px solid rgb(48, 52, 103) !important; // overridden
    box-shadow: 0 0 9px 1px rgb(90, 90, 90) !important; // overridden
    width: '100%' !important; // overridden
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fake-event {
    width: 17.2% !important; // 86px
    height: 8% !important; // 15px
    margin-top: -1px !important;
    margin-left: -1px !important;
}

.preview-event {}

.unavailable-event {
    // width: 17.2% !important; // 86px
    // height: 8% !important; // 15px
    // margin-top: -1px !important;
    // margin-left: -1px !important;
}

.mat-grid-tile .mat-figure {
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.mat-dialog-container {
    height: auto !important;
    overflow: overlay !important;
}

// I prefer the carousel to display images without cropping or stretching
// (default style is set to 'cover' that crops if the original proportion does not match
.carousel-slide {
    background-size: contain !important;
}

// .carousel-inner {
//     height: 25em !important;
// }
