<ng-template #tableHeadersTemplate>
    <th>Rooms</th>
</ng-template>
<ng-template #roomFields let-editable="editable" let-name="name" let-setName="setName" let-capacity="capacity" let-setCapacity="setCapacity" let-rate="rate" let-setRate="setRate" let-descriptionHTML="descriptionHTML" let-setDescriptionHTML="setDescriptionHTML"
    let-availableExtras="availableExtras" let-setAvailableExtras="setAvailableExtras" let-allAvailableExtras="allAvailableExtras" let-compareExtras="compareExtras" let-pictures="pictures" let-setPictures="setPictures">
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top">
        <div fxFlex>
            <mat-card *ngIf="editable">
                <mat-card-header>
                    <h3><i class="fa fa-home" aria-hidden="true"></i>Name</h3>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="outline" required class="roomName">
                        <input class="name" matInput required placeholder="Enter Room Name" [value]="name" (change)="setName($event.target.value)">
                    </mat-form-field>
                </mat-card-content>
                <mat-card-footer>
                </mat-card-footer>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <h3><i class="fa fa-home" aria-hidden="true"></i>Description</h3>
                </mat-card-header>
                <mat-card-content class="descriptionHTML">
                    <div *ngIf="!editable" [innerHTML]="descriptionHTML"></div>
                    <div *ngIf="editable">
                        <angular-editor [placeholder]="'Write and shape text here...'" [config]="editorConfig" [ngModel]="descriptionHTML" (ngModelChange)="setDescriptionHTML($event)"></angular-editor>
                    </div>
                </mat-card-content>
                <mat-card-footer>
                </mat-card-footer>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <h3><i class="fa fa-info-circle" aria-hidden="true"></i>Specifications</h3>
                </mat-card-header>
                <mat-card-content class="specifications">
                    <table>
                        <tr>
                            <td>
                                <div class="specTitle">Rate:</div>
                            </td>
                            <td>
                                <div *ngIf="!editable" class="specValue">{{rate | currency:'GBP':'symbol-narrow'}}</div>
                                <div *ngIf="editable">
                                    <!-- <input class="specValue" currencyMask required placeholder="Enter Room Rate" type="number" [value]="rate" (change)="setRate($event.target.value)"> -->
                                    <input matInput type="text" placeholder="Enter Room Rate" [ngModel]="rate | currency:'GBP':'symbol-narrow'" [value]="{updateOn:'blur'}" (change)="setRate($event.target.value)" />
                                    <!-- https://stackoverflow.com/questions/48321610/angular-4-how-to-use-currency-pipe-in-input-type -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="specTitle">Capacity:</div>
                            </td>
                            <td>
                                <div *ngIf="!editable" class="specValue">{{capacity}}</div>
                                <input *ngIf="editable" class="specValue" matInput required placeholder="Enter Room Capacity" type="number" [value]="capacity" (change)="setCapacity($event.target.value)">
                            </td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <h3><i class="fa fa-coffee" aria-hidden="true"></i>Available Services (Extras)</h3>
                </mat-card-header>
                <mat-card-content style="padding: 2em;">
                    <div *ngIf="!editable" fxLayout="row wrap" fxLayoutGap="40px" fxLayoutAlign="flex-start">
                        <div *ngFor="let extra of availableExtras" class="extra">{{extra.name}} ({{extra.defaultRate | currency:'GBP':'symbol-narrow'}})</div>
                    </div>
                    <mat-form-field *ngIf="editable">
                        <mat-label>Extra Services</mat-label>
                        <mat-select multiple [value]="availableExtras" (selectionChange)="setAvailableExtras($event.value)" [compareWith]="compareExtras">
                            <mat-option *ngFor="let extra of allAvailableExtras" [value]="extra">{{extra.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <h3><i class="fa fa-coffee" aria-hidden="true"></i>Pictures</h3>
                </mat-card-header>
                <mat-card-content style="padding: 2em;">
                    <div fxFlex fxLayout="column" fxLayoutAlign="top">
                        <div *ngFor="let picture of pictures" class="picture">
                            <img src="picture">
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-template>
<ng-template #itemRowTemplate let-name="name" let-setName="setName" let-capacity="capacity" let-setCapacity="setCapacity" let-rate="defaultRate" let-setRate="setDefaultRate" let-descriptionHTML="descriptionHTML" let-setDescriptionHTML="setDescriptionHTML"
    let-availableExtras="availableExtras" let-pictures="pictures">
    <!-- <mat-expansion-panel> -->
    <!-- <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="name">{{name}}</div>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header> -->
    <ng-container *ngTemplateOutlet="roomFields;context:{editable: false, name: name, descriptionHTML: descriptionHTML, rate:rate, capacity:capacity, availableExtras:availableExtras, pictures:pictures}"></ng-container>
    <!-- </mat-expansion-panel> -->
</ng-template>
<ng-template #itemEditTemplate let-name="name" let-setName="setName" let-capacity="capacity" let-setCapacity="setCapacity" let-rate="defaultRate" let-setRate="setDefaultRate" let-descriptionHTML="descriptionHTML" let-setDescriptionHTML="setDescriptionHTML"
    let-availableExtras="availableExtras" let-setAvailableExtras="setAvailableExtras" let-allAvailableExtras="allAvailableExtras" let-compareExtras="compareExtras" let-pictures="pictures" let-setPictures="setPictures">
    <ng-container *ngTemplateOutlet="roomFields;context:{editable: true, name: name, descriptionHTML: descriptionHTML, rate:rate, capacity:capacity, availableExtras:availableExtras, pictures:pictures, setName:setName, setDescriptionHTML:setDescriptionHTML, setRate:setRate, setCapacity:setCapacity, allAvailableExtras:allAvailableExtras, setAvailableExtras:setAvailableExtras, compareExtras:compareExtras, setPictures:setPictures}"></ng-container>
</ng-template>
<app-configure-generic [listStyle]="'accordion'" [tableHeadersTemplate]="tableHeadersTemplate" [itemRowTemplate]="itemRowTemplate" [itemEditTemplateRef]="itemEditTemplate" [configureComponent]="this"></app-configure-generic>