div.name {
    font-size: large;
}

input.name {
    font-size: large;
}

h3 {
    font-size: 1.2em;
    line-height: 1.4;
    margin: 1em 0 0px;
    border: none;
    // border-bottom: black;
    // border-bottom-width: thin;
    // border-bottom-style: groove;
}

.descriptionHTML {
    padding: 1em;
    border-style: solid;
    border-width: thin;
    width: 36em;
}

.specifications {
    padding: 1em;
    border-style: solid;
    border-width: thin;
    width: 18em;
}

mat-card {
    padding: 0em !important;
}

.roomName {
    width: 18em;
}

img {
    width: 24em;
}

.btn-delete-image {
    position: relative;
    left: -8em;
    width: 8em;
    vertical-align: top;
    margin-top: 1em;
}