div.organization {
    width: 16em;
}

button.delete {
    position: relative;
    // left: 18em;
    background-color: gray !important;
    color: white;
}

button.edit {
    position: relative;
    // left: 16em;
    background-color: gray !important;
    color: white;
}