<div id="" class="footer">
    <div id="" class="">
        © 2018 - <a href="https://ashfordvc.org.uk/">ashfordvc.org.uk</a>
    </div>
    <div id="" class="">
        Valuing volunteers &amp; providing essential services to the community of Ashford Borough since 1978.
    </div>
    <div id="" class="">
        Registered Charity No. 1066765
    </div>
    <div id="" class="">
        Company Limited by Guarantee No. 3464057
    </div>
    <div id="" class="">
        ICO registration number ZA056009
    </div>
</div>