<div style="width:100%">
    <mat-form-field style="width: 100%;" appearance="outline" [ngClass]="{'readonly-wrapper' : readOnly}">
        <mat-label>{{placeholder}}<span *ngIf="isRequired" class="required" aria-required="true"> * </span></mat-label>

        <mat-select [ngClass]="{'readonly-block' : readOnly}" [(value)]="selectedHour" name="hour" [compareWith]="compareTimes">
            <mat-option [ngClass]="{'readonly-wrapper' : readOnly}" *ngFor="let hour of selectTimes" [value]="hour" [disabled]="hour.disabled">
                {{hour.view}}
            </mat-option>
        </mat-select>
        <div *ngIf="selectedHour && readOnly">{{selectedHour.view}}</div>
    </mat-form-field>
</div>
<!-- <mat-form-field>
    <mat-select [(value)]="selectedMinute" name="minute">
      <mat-option *ngFor="let minute of minutes" [value]="minute">
        {{minute.view}}
      </mat-option>
    </mat-select>
</mat-form-field> -->
